extends short

block meta
  - var title = 'Лучшие предложения за этот месяц';

block header
  div(style=container)
    div(style="padding:0 32px 0 32px;")
      h1(style=h1__large) Здравствуйте!
        br
        | Собрали для вас самые лучшие предложения за этот месяц.

  - var category = [{bg: 'category-11.png', title: '', color: '#fff'},{bg: 'category-12.png', title: '', color: '#fff'},{bg: 'category-13.png', title: '', color: '#fff'},{bg: 'category-14.png', title: '', color: '#fff'}]
  table(style="margin:0 0 10px 0;" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0")
    tr
      each category__item in category
        td(style="width:25%;height:100%;align-items:top;")
          +category(category__item.bg,category__item.title,category__item.color)

block divider
  div(style=container)
    a(href="#" style='height:258px;display:block;margin:0 0 10px 0;overflow:hidden;box-sizing:border-box;border-radius:8px;background-image:url(img/banners/banner-5.png);background-repeat:no-repeat;background-position:center top;background-size:100% auto;')

  table(style="margin:0 0 40px 0;" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0")
    tr
      td(style="width:50%;height:100%;align-items:top;")
        div(style="padding:0 5px 0 5px;")
            a(href="#" style='height:170px;display:block;overflow:hidden;box-sizing:border-box;border-radius:8px;border:1px solid rgba(0, 0, 0, 0.12);text-align:center;text-decoration:none;background-image:url(img/banners/banner-6.png);background-repeat:no-repeat;background-position:center top;background-size:100% auto;')
      td(style="width:50%;height:100%;align-items:top;")
        div(style="padding:0 5px 0 5px;")
            a(href="#" style='height:170px;display:block;overflow:hidden;box-sizing:border-box;border-radius:8px;border:1px solid rgba(0, 0, 0, 0.12);text-align:center;text-decoration:none;background-image:url(img/banners/banner-7.png);background-repeat:no-repeat;background-position:center top;background-size:100% auto;')

block category
  div(style=container)
    div(style="padding:0 32px 0 32px;")
      h1(style=h1) Вам так же может быть интересно:
  - var category = [{bg: 'category-3.png', title: 'Авто электроника', color: '#0079B6'},{bg: 'category-1.png', title: 'Автошторки', color: '#0079B6'},{bg: 'category-4.png', title: 'Авточехлы', color: '#fff'},{bg: 'category-6.png', title: 'Автохимия', color: '#0079B6'}]
  table(style="margin:0 0 16px 0;" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0")
    tr
      each category__item in category
        td(style="width:25%;height:100%;align-items:top;")
          +category(category__item.bg,category__item.title,category__item.color)

block category__readmore