extends base

block meta
  - var title = 'Список страниц';

block wrapper
  div(style=container)
    table(style="margin:0 0 26px 0;" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0")
      tr
        td
          div(style="font-size:14px;font-weight:400;line-height:22px;color:#525252;margin:0 0 26px 0;")
            p(style=p)
              a(href="base.html" target="_blank" style="font-size:16px;color:#008bd1;") Оставить отзыв
            p(style=p)
              a(href="main.html" target="_blank" style="font-size:16px;color:#008bd1;") 500 бонусных рублей, основная
            p(style=p)
              a(href="main__btn.html" target="_blank" style="font-size:16px;color:#008bd1;") 500 бонусных рублей, с кнопкой
            p(style=p)
              a(href="short.html" target="_blank" style="font-size:16px;color:#008bd1;") 100 бонусных рублей, основная
            p(style=p)
              a(href="short__popular.html" target="_blank" style="font-size:16px;color:#008bd1;") 100 бонусных рублей, альтернативные категории
            p(style=p)
              a(href="banners.html" target="_blank" style="font-size:16px;color:#008bd1;") 100 бонусных рублей, баннеры
            p(style=p)
              a(href="blocks.html" target="_blank" style="font-size:16px;color:#008bd1;") Лучшие предложения за этот месяц
            p(style=p)
              a(href="blocks__banners.html" target="_blank" style="font-size:16px;color:#008bd1;") Лучшие предложения за этот месяц, с баннерами
            p(style=p)
              a(href="positions.html" target="_blank" style="font-size:16px;color:#008bd1;") 100 бонусных рублей, самые скучные шины
            p(style=p)
              a(href="positions__short.html" target="_blank" style="font-size:16px;color:#008bd1;") Морозы уже не за горами. Подготовь свой автомобить к зиме!
            p(style=p)
              a(href="positions__season_winter.html" target="_blank" style="font-size:16px;color:#008bd1;") Не забудьте переобуться, зима
            p(style=p)
              a(href="positions__season_summer.html" target="_blank" style="font-size:16px;color:#008bd1;") Не забудьте переобуться, лето
            p(style=p)
              a(href="cart.html" target="_blank" style="font-size:16px;color:#008bd1;") Вы недавно посещали наш сайт и оставили товары в корзине
            p(style=p)
              a(href="cart__oldprice.html" target="_blank" style="font-size:16px;color:#008bd1;") Обратили внимание, что вы интересовались товарами
            p(style=p)
              a(href="cart__gift.html" target="_blank" style="font-size:16px;color:#008bd1;") Заберите свой подарок!
